@media screen and (width <=1580px) {
    .projects {
        flex-direction: column-reverse;
        border-radius: 10px;
        max-width: 800px;
    }

    .projects img {
        border-radius: 10px 10px 0 0;
        height: 30%;
    }
    
    .tech-container img{
        height: 20px;
    } 

    .fc {
        padding: 20px 30px 20px 30px;
    }

    .fc p {
        line-height: 1.4rem;
    }

    .tech-container {
        margin: 0 0 20px 0;
    }
}

@media screen and (width <= 920px) {
    /* BLOQUE DEL HEADER */
    nav {
        background: rgb(0, 0, 0);
    }

    nav ul {
        display: none;
    }

    nav i {
        visibility: visible;
    }

    /* BLOQUE DEL BANNER */
    .banner-text h1 {
        font-size: 3rem;
    }

    .banner-text p {
        font-size: 1.2rem;
    }

    /* BLOQUE ABOUT ME */
    .container-about {
        flex-direction: column;
    }

    .container-resume {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .card {
        padding: 5px;
        flex: 1 1 calc(33% - 40px);
        height: 55px;
        background: none;
        border: 1px solid white;
        color: aliceblue;
    }

    .info-options button {
        width: 350px;
    }

    .card h1 {
        font-size: 0.9rem;
    }

    .card p {
        font-size: 0.8rem;
    }

    .container-personal {
        min-width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-personal p{
        max-width: 450px;
        text-align: center;
    }

    /* EXPERIENCIA*/
    .c-exp {
        max-width: 600px;
    }

    .container-exp-title h2 {
        font-size: 1.45rem;
    }

    .container-exp-title h3 {
        font-size: 0.82rem;
    }

    .container-exp h4 {
        font-size: 1.2rem;
        line-height: 1.6rem;
    }

    .container-exp p {
        font-size: 1rem;
    }

    .container-haz p {
        font-size: 0.9rem;
    }

    /* PROYECTOS */
    .projects {
        flex-direction: column-reverse;
        border-radius: 10px;
    }

    .projects img {
        border-radius: 10px 10px 0 0;
        height: 25%;
    }

    .fc {
        padding: 12px 20px 12px 20px;
    }

    .fc h2 {
        font-size: 1.6rem;
    }

    .fc p {
        font-size: 1rem;
        text-align: justify;
    }

    .tech-container img{
        height: 20px;
    }

    .tech-container i {
        font-size: 20px;
    }

    .tech-container {
        align-self: center;
        margin-bottom: 18px;
    }

    .fc button {
        height: 45px;

    }

    /* HABILIDADES */
    .container-hab {
        width: 85%;
    }

    /* CONTACTO */
    .container-contact {
        max-width: 70%;
    }

    .closeB {
        visibility: hidden;
    }

    .container-contact button {
        display: block;
        background: rgb(111, 45, 45);
        height: 40px;
        border: none;
        border-radius: 10px;
        color: aliceblue;
        font-family: 'Nunito', sans-serif;
        font-size: 1rem;
        cursor: pointer;
        transition: all 0.3s;
    }

    .container-contact button:hover {
        background: rgb(168, 59, 59);
    }
}

@media screen and (width <= 560px) {

    nav {
        padding-left: 30px;
        padding-right: 30px;
    }

    .s-banner {
        height: 60vh;
    }

    .container {
        height: 100%;
    }

    .banner-text h1 {
        font-size: 2.2rem;
        line-height: 2.2rem;
    }

    .banner-text p {
        font-size: 1.2rem;
        max-width: 60%;
    }

    /* BLOQUE ABOUT */
    .s-about {
        margin-top: 50px;
        height: 52vh;
    }

    .container-about {
        flex-direction: column;
        align-items: center;
    }

    .container-resume {
        flex-wrap: nowrap;
        flex-direction: column;
        width: 100%;
    }

    .card {
        padding: 0;
        background: none;
        border: none;
        box-shadow: none;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        color: rgb(255, 255, 255);
    }

    .card h1 {
        display: none;
    }

    .card div {
        display: flex;
        background-color: rgb(11, 78, 23);
        border-radius: 5px;
        padding: 8px;
        min-width: 20px;
        align-items: center;
        justify-content: center;
    }

    .card div i {
        font-size: 1.05rem;
    }

    .card p {
        font-size: 1rem;
    }

    .container-personal {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-personal h1 {
        font-size: 2.1rem;
        line-height: 2.3rem;
    }

    .container-personal h2 {
        width: 80%;
        text-align: center;
        font-size: 0.95rem;
        font-weight: 800;
        margin-top: 10px;
        padding-bottom: 12px;
    }

    .container-personal p {
        max-width: 80%;
        font-size: 1.05rem;
    }

    .info-options {
        width: 100%;
        flex-direction: column;
        margin-top: 20px;
        gap: 10px;
    }

    .info-options button {
        width: 80%;
        border-radius: 10px;
        font-size: 0.95rem;
    }

    .info-options a {
        width: 80%;
        border-radius: 10px;
        background-color: rgb(11, 78, 23);
        color: rgb(255, 255, 255)
    }

    /* EXPERIENCIA*/
    .c-exp {
        min-width: 100%;
        align-items: center;
        margin-top: 40px;
        gap: 50px;
    }

    .container-exp {
        width: 85%;
    }

    .container-exp-title h2 {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }

    .container-exp-title h3 {
        font-size: 0.8rem;
    }

    .container-exp h4 {
        font-size: 1rem;
        line-height: 1.6rem;
    }

    .container-exp p {
        font-size: 1rem;
        text-align: justify;
    }

    .container-haz {
        flex-direction: column;
        gap: 8px;
    }

    .container-haz p {
        font-size: 0.9rem;
    }

    /* PROYECTOS */

    .fc h2 {
        margin-bottom: 2px;
        font-size: 1.5rem;
    }

    .fc p {
        font-size: 0.95rem;
        line-height: 1.3rem;
        font-family: 'Nunito';
        text-align: justify;
    }

    .tech-container img{
        height: 18px;
    }

    .tech-container i {
        font-size: 18px;
    }

    .tech-container {
        align-self: center;
        margin-bottom: 15px;
    }

    .fc button {
        height: 45px;
    }
}